{{! Partial: Author Profile }}

<section class="author-profile {{#if class}}{{class}}{{/if}}">
    {{#if profile_image}}
        <picture class="author-profile__avatar">
            <img src="{{img_url profile_image size="xs"}}" class="author-profile__avatar-image" alt="{{title}}" loading="lazy" />
        </picture>
    {{/if}}
    <h1 class="author-profile__title">{{name}}</h1>
    <p class="author-profile__description author-profile__description--small">{{bio}}</p>
    <div class="author-profile__socials">
        {{#if website}}
            <a href="{{website}}" class="author-profile__social author-profile__social--website" rel="noopener noreferrer" target="_blank" aria-label="Website">
                {{> "svg-icon" icon="link" style="fill" class="author-profile__svg-icon"}}
            </a>
        {{/if}}
        {{#if twitter}}
            <a href="{{twitter_url}}" class="author-profile__social author-profile__social--twitter" rel="noopener noreferrer" target="_blank" aria-label="Twitter">
                {{> "svg-icon" icon="twitter" style="fill" class="author-profile__svg-icon"}}
            </a>
        {{/if}}
        {{#if facebook}}
            <a href="{{facebook_url}}" class="author-profile__social author-profile__social--facebook" rel="noopener noreferrer" target="_blank" aria-label="Facebook">
                {{> "svg-icon" icon="facebook" style="fill" class="author-profile__svg-icon"}}
            </a>
        {{/if}}
        <a href="{{@site.url}}/rss/" class="author-profile__social author-profile__social--rss" target="_blank" aria-label="RSS">
            {{> "svg-icon" icon="rss" style="fill" class="author-profile__svg-icon"}}
        </a>
    </div>
</section>
