{{! Partial: Widget - Copyright }}

<section class="widget widget-copyright">
    <p class="widget-copyright__notice">{{t "Copyright"}} &copy; <a href="{{@site.url}}" class="widget-copyright__anchor">{{@site.title}}</a> {{date format="YYYY"}}</p>
    <p class="widget-copyright__disclaimer">{{t "All rights reserved"}} <span class="widget-copyright__bull">&bull;</span> {{{t "Published with <a href='https://ghost.org/' class='widget-copyright__anchor'>Ghost</a>"}}}</p>
</section>
